* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

.section {
    height: 100vh;
    background-color: #b2b2b2;
    border-bottom: 3px;
    border-color: black;
    display: grid;
    place-content: center;
    display: flex;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 10%;
}

.about {
    height: 100vh;
    background-color: #b2b2b2;
    border-bottom-width: 3px;
    border-color: black;
    display: grid;
    place-content: center;
    display: flex;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 10%;
}

.location {
    height: 100vh;
    background-color: #b2b2b2;
    border-bottom-width: 3px;
    border-color: black;
    display: grid;
    place-content: center;
    display: flex;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 10%;
}
