.login {
 background-color: #EBE26D;
    box-sizing: border-box;
    height: 100vh;
}

.login h1{
text-align: center;
padding: 1%;
}

.login form {
    border-radius: 20px;
    background-color:#F7F7F7;
    border-radius: 10px;
    width: 50vw;
    text-align: center;
    margin:  auto;
    padding:40px;
}

.login input {
    font-size: larger;
    border-radius: 6px;
    padding: 0.2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 10vw;
    border-color: white;
}

.login form button {
    border-radius: 10px;
    border: 1px solid;
    font-size: large;
    width: 10vw;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}
