.registro {
    background-color: #EBE26D;
    box-sizing: border-box;
    height: 100vh;
}

.registro form {
    background-color: #F7F7F7;
    display:flex;
    flex-direction: row;
    justify-content: center;
    max-width: auto;
    width: 95%;
    height: 95%;
    margin:  auto;
    padding:40px;
}

.registro h1{
text-align: center;
padding: 1%;
}

.registro input {
    font-size: large;
    border-radius: 6px;
    padding: 0.2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 10vw;
    border-color: white;
}

.registro form button {
    border-radius: 10px;
    border: 1px solid;
    font-size: large;
    width: 10vw;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}
