.bookingContainer {
    width: 50vw;
    padding: 20px;
    margin: auto;
}

.bookingLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookingLabel input {
    height: 3vh;
    width: 7vw;
    margin: 10px;
    border-radius: 5px;
}
