.bookings {
    background-color: #e6e6e6;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.BookingsHistory {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-bottom: 1rem;
}

.BookingsHistory input {
    background-image: linear-gradient(to left, #f7f7f7, #68df9f);
    border-radius: 6px;
    padding: 0.2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 7rem;
    border-color: #f7f7f7;
}
.BookingsHistory .booking-list {
    border-radius: 30px;
    width: 20%;
    background-color: #e9e9e9;
    border: 2px solid #56df9e;
    text-align: center;
    margin-bottom: 1rem;
}

.BookingsHistory .booking-list li {
    list-style: none;
}

.BookingsHistory .booking-list li a {
    background-color: #b2b2b2;
    text-decoration: none;
    display: inline-block;
    color: black;
    width: auto;
}
