.booking-indv {
    background-color: #e6e6e6;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

.booking-indv .booking-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booking-indv .booking-content li {
    list-style: none;
    padding: 0.5%;
}

.booking-indv .booking-content button {
    border-radius: 30px;
    background-color: #e9e9e9;
    border: 2px solid #56df9e;
    font-size: large;
    width: 10vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.5rem;
}
