.search h1 {
    margin-bottom: 2rem;
    text-align: center;
    color: black;
}

.search form {
    margin: auto;
    width: 20rem;
}

.search form fieldset {
    margin-bottom: 1rem;
    
    border-radius: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.6);
   
}

.search form label {
    display: block;
    font-size: 0.85rem;
    margin: 0.5rem 0;
    font-weight: bold;
}

.search form input,
.search form select {
    width: 100%;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 10px;
    border: 2px solid #56df9e;
}



.search .results-search {
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
    width: 800px;
}

.searchButton {
    width: 20vw;
    height: 8vh;
    border-radius: 30px;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 1vw;
    border: 2px solid #56df9e;
    outline: none;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.3rem;
}

