.login {
    background-color: #eeeeee;
    box-sizing: border-box;
    height: 90vh;
    width: 90%;
    margin: auto;
}

.login h1 {
    text-align: center;
    padding: 1%;
}

.login form {
    display: flex;
    border-radius: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 40px;
}

.login input {
    font-size: larger;
    border-radius: 6px;
    padding: 0.2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    width: auto;
    border-color: white;
}

.login form button {
    border-radius: 10px;
    border: 1px solid;
    font-size: large;
    width: 10vw;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}
