.signup {
    background-color: #e6e6e6;
    box-sizing: border-box;
    height: 90vh;
    width: 100%;
}

.signup .signup-dialog {
    background-color: #f7f7f7;
    display: flex;
    box-sizing: border-box;
    height: 80vh;
    width: 90%;
    margin: auto;
}

.signup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: auto;
    margin: auto;
}

.signup h1 {
    text-align: center;
    padding: 0.5%;
}

.signup .inputs-form label {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.signup input {
    font-size: larger;
    border-radius: 6px;
    padding: 0.2rem;
    margin-bottom: 1rem;
    width: auto;
    border-color: #f7f7f7;
}
.signup form button {
    border-radius: 10px;
    border: 1px solid;
    font-size: large;
    width: 10vw;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
}

.signup input:invalid:required {
    background-image: linear-gradient(to right, #f7f7f7, #68df9f);
}

.signup input:invalid {
    border: 2px solid red;
}

.signup input:valid {
    border: 2px solid black;
    background-image: linear-gradient(to left, #f7f7f7, #68df9f);
}

.signup .text-signup {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    text-align: center;
    margin: auto;
}

.signup .text-signup a {
    font-size: bold;
    text-decoration: none;
    padding-bottom: 1rem;
}
