.update-user form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 40vw;
  gap: 14px;
}

.formUser {
  align-content: center;
  margin-left: 25em;
}
input {
  width: 200px;
}
.button-update {
  width: 60px;
  margin-top: 10px;
}

.back a {
  width: 60px;
  align-self: center;
}



.formUpdate button {
  display: flex;
  flex-direction: row;
}
