footer {
    display: flex;
    justify-content: space-between;
    background-color: #56df9e;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
}

.footer .hackABoss .logo {
    text-decoration: none;
    width: 3em;
    height: 3rem;
    background-size: cover;
    background-position: center;
}

.footer .container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.footer .container .info {
    color: black;
    text-decoration: none;
}
.footer .container a {
    color: black;
    text-decoration: none;
}
.container .info:hover {
    color: black;
    text-decoration: underline;
}

.rrss {
    display: flex;
    justify-content: space-evenly;
    padding: 2vw;
    box-sizing: border-box;
}

.icon {
    max-width: 2vw;
    box-sizing: border-box;
    margin: 5px;
}
